/* Reset default margin and padding */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'courier new';
    line-height: 1.6;
    background-color: #fbf7ec;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #c7e3d2;
    border: 1px solid #ffffff;
    border-radius: 5px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

header {
    background-color: hsl(157, 56%, 41%);
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    font-style: italic;
}

.main-content {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: auto; /* Push footer to the bottom of its flex container */
}


/* Responsive styles */
@media (max-width: 600px) {
    header h1 {
        font-size: 2em;
    }
    header p {
        font-size: 1em;
    }
    .container {
        max-width: 100%;
        margin: 10px;
    }
    footer {
        position: relative;
    }
}